<p id="notice"><%= notice %></p>

<div class="list-container">

  <h1>simplist</h1>

  <div class="new-item-form">
    <%=render partial: 'items/form', :locals => {:item => @new_item}%>
  </div>

  <div class="items-list">
    <%= render(:partial => 'items/item', :collection => @items) %>
  </div>

</div>

<div id="sound-toggle"></div>

<audio id="done-sound" src="<%=asset_path 'Simple Approval.wav'%>"  volume="0.25" preload="none" style="display:none;"></audio>
<audio id="create-sound" src="<%=asset_path 'WoodBlock.wav'%>" volume="0.25" preload="none" style="display:none;"></audio>
<audio id="toggler-sound" src="<%=asset_path 'Satisfying Click.wav'%>" volume="0.25" preload="none" style="display:none;"></audio>

<script type="text/javascript">
var myApp = {
  marking: null
}
</script>